<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Lets the Files / document picker treat .dylib as a known importable type. -->
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.cytroll.dylib</string>
			<key>UTTypeDescription</key>
			<string>Dynamic Library</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dylib</string>
					<string>DYLIB</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
